header{
    margin: 0px;
    padding: 0px;
}

.main 
{
    display: inline-block;
    font-size: 40px;
    border: 1px  solid rgba(0, 0, 0, 0.062);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
}
.navi
{
margin-left: 299PX;
    font-size: 20px;
    float:right;  
}
.bar:hover{
    color: orange;
}
a{
    overflow: hidden;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color: rgba(46, 46, 46, 0.74);
    font-variant: bold;
}
.a1{
    
    margin-right: 13px;
    text-align:center;
}
.a1:hover
{
    border-left: 2px solid orange;
    color: orange;
    text-align: initial;
}
.contain
{
    text-align: center; 
    padding-top: 0px;
    font-family: sans-serif;
}
.contain h1{
    color:rgba(51, 50, 50, 0.911);
    font-size: 70px;
    top: 0px;
    background-color: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contain p{
    font-size:35px;
    text-align: center;
    color: rgba(100, 100, 100, 0.911);
    background-color: 0;
}
.h2 h1{
    text-align: center;
     font-size: 55px;
     color:rgba(46, 43, 43, 0.911);
     float:center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mg1{
    float:center;
    background-color:none;
    padding-bottom: 35px;
}
.mor {
    text-align: center;
    padding-top: 0px;
     float:left;
     font-size:30px ;
     color:rgba(100,100,100,0.911);
}
.mor p1{
    text-align: center;
    padding-top: 0px;
    color: rgba(100, 100, 100, 0.911);
    font-size: 30px;
}
.pp{
    text-align: center;
    font-size: 35px;
    padding-left: 1px;
    border:2px;
    padding-top: 5px

}

   .hh{
    float: left;
    padding-left: 1px;
    padding-right:0px;
    border-left: 20px solid orange;
    border:2px;
    padding-top: 5px;
    background-color: blue;

}
.hh a{
    float: right;
    font-size: 45px;
    padding-right: 0px;
    margin-bottom:0px;
    background-color: blue;
    color: crimson;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
.hh a2{
    font-size: 20px;
    float:right;
    margin: 5px;
    padding-bottom: 2px;
    background-color:green;
    padding-right:60px;
    padding-top: 0px;

}
.map-img{
    text-align: center;
    float: left;
    padding-top: 20px;
}
 .heading h1{
    padding-left:150px;
    color: rgba(56, 56, 56, 0.911);;
    font-size: 38px;
    padding-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading p{
    font-size: 38px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(39, 38, 38, 0.911);
    border: rgb(163, 130, 130);
}
.ping{
    padding-top:2px;
    padding-left: 120px;
    float: left;
    padding-bottom: 40px;
}
    .gallery  {
        float: left;
        border-right:2px solid orange;
        padding-left:5px;
        padding-right: 5px;
        font-size: 16px;
        padding-bottom:0px;
        color: rgb(233, 51, 27);
        background-color:0;
        }

    .sub {
        padding-top: 15px;
        padding-right: 25px;
    }
    .heads{
        font-size: 26px;
        color:rgba(22, 21, 21, 0.911);
        text-align: center;
        font-style: inherit;
        padding-right: 5px;
        padding-left: 5px;
        background-color:0;
    }
    .heads:hover{
        color:  orange;
    }
    .tital{
         padding-top: 5px;
         padding-right:80px;
        float:right;
        font-size:55px;
        font-style:initial;
        font-family:courier;
        color: rgba(27, 26, 26, 0.2);
        background-color:peru; 
    }
    .text{
    font-size: 20px; 
    font-weight: bold;
    color: rgba(46, 46, 46, 0.74);
    float: left;
    }
    .text a{
        float: right;
        padding-right: 278px;
        text-align: 0;  
    
    }
    .texx:hover{
        color: orange;
    }
     .text2 h1 {

        float:left; 
        font-size:45px; 
        padding-top:20px;
        font-family:'Arial Narrow Bold';
        padding-right:35px;
        padding-left: 25px;
        color:rgba(22, 20, 20, 0.911);
        background-color:0;
    }
    .text2 p{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: inherit;
        font-size:35px ;
        background-color:0;
        padding-right:0px;
        color:rgba(100,100,100,0.911);
        background-color:0;
    }
    .pic{
        padding-top:50px;
         float:left;
         background-color: none;
         padding-left: 60px;
         padding-bottom: 60px;
            overflow: auto;
            
    }
    .btn {
        display: inline-block;
        letter-spacing: 1px;
        overflow: hidden;
        box-sizing: initial;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 5px;
        border: 1px solid orange;
        color: solid orange;
        background-color: white;
    }

    .btn:hover{
    
        background-color: orange;
        color:white;
    }
    .btn2 {
        display: inline-block;
        letter-spacing: 1px;
        overflow: hidden;
        box-sizing: initial;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 5px;
        background-color: orange;
        color: white;
    }

    .btn2:hover{
    
        background-coloR:white;
         color: orange;
        border: 1px solid orange;
    }
    
    .font{
        font-size: 30px;
        padding-top:0px;
        border-top: 0px;
        padding-left: 120px;
        padding-right: 30px;
        margin: 0px;
        border-bottom-left-radius: black  20px;

      }
      .font img{
        margin-top: 0px;
        padding-top: 0px;
        border-top-width: 0px;
      }
      .font img{
        padding-top: 0px;
        float:right;
        border-bottom-style : 5px rgba(119, 12, 12, 0.2);
        border-left:5px solid orange;
      }
      .font h1{
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgba(54, 53, 53, 0.911);;
        
      }
      .font p{
        font-size: 22px;
      }
      .font p1{
        font-size:18px ;
      }
      .font p3{
        font-size: 16px;
        padding:3px;
        margin-bottom: 1px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-bottom-style : 5px rgba(119, 12, 12, 0.2);  
      }
      
      #mainbox{
        font-size: 45px;
        cursor:pointer;
        float: left;
      }  
    
      .sidemenu{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 430px;
        width: 0px;
        z-index: 1;
        padding-top:50px;
        overflow-x: hidden;
        background-color: whitesmoke;
      }
      .sidemenu a
      {
        padding: 8px 2px 25px 64px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(48, 48, 48);
        display: block;
    
      }
      .sidemenu  :hover{
        color:orange;
      }
      .sidemenu .closebtn{
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
       
      }
      .menubar{
        color: rgba(46, 46, 46, 0.74);
        text-align:0;
        padding: 20px;
        padding-top: 0px;
        background-color:rgb(248, 248, 248);
        
      }
      .head{
         font-size: 55px;
         padding-top: 0px;
      text-decoration: none;
      color:rgba(100, 100, 100, 0.911);
      }
    /*seccond sticky center css*/
    .sticky {
    position: fixed;
      top: 2px;    
    width: 100%;
    transition: 0.3s;
    }
    .sticky  .head{
     margin-left: 40%;
     transition: 0.5s;
    
    }
    .sticky .hide
    {
    display: none;
    }
   /*--tow-img--*/
  .butn{

        letter-spacing: 1px;
        overflow: hidden;

        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 5px;
        background-color: orangered;
        color: rgb(48, 46, 46);
        border: 1px solid orange;
    }

    .butn:hover{
    
        background-coloR:orange;
         color: white;
        border: 1px solid orange;
    }

    .mgdp {
        float:right;
    }
    .second h1{
        float: left;
      padding-top: 10px;
      padding-left:0;
      padding-bottom: 20px;
      color: rgb(44, 42, 42);
    }
  .gallary1 {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 1px;
    padding-bottom: 10px;

  }
    .first {
        float:right;
        background-color: rgb(204, 198, 198);
        width: 100%;
        padding-left:50px;
    }
    .imgdp{
        float: left;
        padding-left: 50px;
        text-align:left;
    }
    .imgdp h1{
        float: left;
        text-align: 0;
        background-color:rgb(204, 198, 198);
        font-size: 35px;
        color:rgb(31, 29, 29);
    }
    .imgdp p{
        font-size: 28px;
        padding-left:0 px;
        color: rgb(95, 91, 91);
    }
    .imgdp a{
        padding-bottom:0;
        background-color:lightcyan;
    }
/*second-image-css*/
.mgdp1 {
    float: left;
    padding-left: 0px;
    color:rgb(12, 11, 11);
}
.first h1{
    float: left;
  padding-top: 0px;
}
.first{
padding-left: 50px;
padding-left: 25px;
padding-top: 10px;
padding-bottom: 10px;

}
.second {
    float:right;
    background-color: white;
    width: 100%;
    padding-left: 10px;
    color: rgb(34, 33, 33);
}
.imgdp1{
    float: left;
    padding-left: 50px;
    text-align:left;
}
.imgdp1 h1{
    float: right;
    text-align: 0;
    background-color:white;
    font-size: 35px;
    color: rgb(17, 16, 16);
}
.imgdp1 p{
    font-size: 28px;
    padding-left:0 px;
    color: rgb(24, 23, 23);
}
.imgdp1 a{
    padding-bottom:0;
    background-color:lightcyan;
    color: rgb(26, 24, 24);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
   /*--table--*/
   table tr th td{
    border-bottom-right-radius: 30px;
text-align:left;
width:20%; 
     
  
 }
 table th{
 font-size: 20;
 text-align: left;
 }
 table td {
     font-size: 20px;
     padding-bottom: 10px;
     padding-right:10px ;
     padding-top: 10px;
     padding-left: 10px;
     letter-spacing: -1px;
     color:rgb(160, 158, 158); 
     background-color  ;
 }
 table{
     color: rgb(78, 78, 78); 
     width: 100%; 

   
 }
 td:hover{
   color:orange;
 }
 td a:hover{
   color:orangered;
 }
 table a{
   border:none;
   display: inline-block;
   color: rgb(88, 86, 86);

overflow: hidden;
 }
h1{
  color: orange;
  font-family: 'Arial Narrow Bold';
  font-size: 30px;
}    
      
    


